In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [52]:
df = pd.read_csv(r'C:\Users\nguyen\OneDrive\TaÃÄi li√™Ã£u\baitaplonn\Time_Series_with_Python\notebook\data\raw\sales_train_validation.csv')
df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

```
üìä D·ªØ li·ªáu n√†y n√≥i v·ªÅ g√¨?

ƒê√¢y l√† d·ªØ li·ªáu b√°n l·∫ª theo ng√†y (daily sales data) c·ªßa chu·ªói si√™u th·ªã Walmart ·ªü M·ªπ.
N√≥ ghi l·∫°i s·ªë l∆∞·ª£ng s·∫£n ph·∫©m ƒë∆∞·ª£c b√°n m·ªói ng√†y trong h∆°n 5 nƒÉm (2011‚Äì2016).
```

```
id: M√£ ƒë·ªãnh danh c·ªßa s·∫£n ph·∫©m, k·∫øt h·ª£p item_id, store_id, v√† h·∫≠u t·ªë _validation.
item_id: M√£ s·∫£n ph·∫©m.
dept_id: M√£ ph√≤ng ban (department) ch·ª©a s·∫£n ph·∫©m.
cat_id: M√£ danh m·ª•c (category) ch·ª©a ph√≤ng ban.
store_id: M√£ c·ª≠a h√†ng b√°n s·∫£n ph·∫©m.
state_id: Bang/ti·ªÉu bang c·ªßa c·ª≠a h√†ng.

T·ª´ d_1 ‚Üí d_1913 = doanh s·ªë (s·ªë l∆∞·ª£ng b√°n ra) theo t·ª´ng ng√†y.
d_1 = 2011-01-29,
d_1913 = 2016-05-22 (mapping trong file calendar.csv).


```

# 1 th√¥ng tin chung v·ªÅ d·ªØ li·ªáu

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1919 entries, id to d_1913
dtypes: int64(1913), object(6)
memory usage: 446.4+ MB

```
-DataFrame c√≥ 30,490 d√≤ng, ƒë√°nh s·ªë t·ª´ 0 ƒë·∫øn 30,489.
-C√≥ 1,919 c·ªôt, c·ªôt ƒë·∫ßu ti√™n l√† id, c·ªôt cu·ªëi c√πng l√† d_1913.
- 1,913 c·ªôt ki·ªÉu s·ªë nguy√™n (int64),
-6 c·ªôt ki·ªÉu chu·ªói / h·ªón h·ª£p (object).
DataFrame chi·∫øm ~446 MB trong RAM.
```

# 2 l·ªçc gia tr·ªã missing

In [54]:
print(df.isnull().sum())
print(df.isnull().mean() * 100)

id          0
item_id     0
dept_id     0
cat_id      0
store_id    0
           ..
d_1909      0
d_1910      0
d_1911      0
d_1912      0
d_1913      0
Length: 1919, dtype: int64
id          0.0
item_id     0.0
dept_id     0.0
cat_id      0.0
store_id    0.0
           ...
d_1909      0.0
d_1910      0.0
d_1911      0.0
d_1912      0.0
d_1913      0.0
Length: 1919, dtype: float64

=> t·∫≠p d·ªØ li·ªáu kh√¥ng c√≥ gi√° tr·ªã missing

# 3 L·ªçc gi√° tr·ªã tr√πng l·∫∑p

In [55]:
# Ki·ªÉm tra s·ªë l∆∞·ª£ng d√≤ng tr√πng l·∫∑p
duplicate_count = df.duplicated().sum()
print(f"S·ªë d√≤ng tr√πng l·∫∑p: {duplicate_count}")

# Hi·ªÉn th·ªã c√°c d√≤ng tr√πng l·∫∑p (n·∫øu c√≥)
duplicate_rows = df[df.duplicated()]
display(duplicate_rows)

S·ªë d√≤ng tr√πng l·∫∑p: 0

Empty DataFrame
Columns: [id, item_id, dept_id, cat_id, store_id, state_id, d_1, d_2, d_3, d_4, d_5, d_6, d_7, d_8, d_9, d_10, d_11, d_12, d_13, d_14, d_15, d_16, d_17, d_18, d_19, d_20, d_21, d_22, d_23, d_24, d_25, d_26, d_27, d_28, d_29, d_30, d_31, d_32, d_33, d_34, d_35, d_36, d_37, d_38, d_39, d_40, d_41, d_42, d_43, d_44, d_45, d_46, d_47, d_48, d_49, d_50, d_51, d_52, d_53, d_54, d_55, d_56, d_57, d_58, d_59, d_60, d_61, d_62, d_63, d_64, d_65, d_66, d_67, d_68, d_69, d_70, d_71, d_72, d_73, d_74, d_75, d_76, d_77, d_78, d_79, d_80, d_81, d_82, d_83, d_84, d_85, d_86, d_87, d_88, d_89, d_90, d_91, d_92, d_93, d_94, ...]
Index: []

[0 rows x 1919 columns]

# 4 ki·ªÉm tra gi√° tr·ªã ngo·∫°i l·ªá

Khi √°p d·ª•ng c√¥ng th·ª©c IQR (ng∆∞·ª°ng 1.5 * IQR), c√°c ƒëi·ªÉm tƒÉng v·ªçt n√†y d·ªÖ b·ªã coi l√† ngo·∫°i l·ªá, d√π th·∫≠t ra ch√∫ng h·ª£p l√Ω trong ng·ªØ c·∫£nh.N√™n trong tr∆∞·ªùng h·ª£p n√†y ta d√πng ph∆∞∆°ng ph√°p Modified Z-score (MAD)

In [56]:

# Ch·ªçn c·ªôt s·ªë
numeric_cols = df.select_dtypes(include=['number']).columns


#danh s√°ch l∆∞u k·∫øt qu·∫£
outlier_summary = []

for col in numeric_cols:
    data = df[col].dropna()
    median = np.median(data)
    mad = np.median(np.abs(data - median))
    
    if mad == 0:
        continue
    
    modified_z_scores = 0.6745 * (data - median) / mad
    outlier_count = np.sum(np.abs(modified_z_scores) > 3.5)
    
    if outlier_count > 0:
        outlier_summary.append({
            "C·ªôt": col,
            "S·ªë l∆∞·ª£ng ngo·∫°i l·ªá": outlier_count
        })

# T·ªïng h·ª£p th√†nh DataFrame
outlier_count_df = pd.DataFrame(outlier_summary).sort_values(by="S·ªë l∆∞·ª£ng ngo·∫°i l·ªá", ascending=False)

display(outlier_count_df)


# Dictionary l∆∞u c√°c c·ªôt c√≥ ngo·∫°i l·ªá
outliers_all = {}

for col in numeric_cols:
    data = df[col].dropna()
    median = np.median(data)
    mad = np.median(np.abs(data - median))
    
    if mad == 0:
        continue
    
    modified_z_scores = 0.6745 * (data - median) / mad
    outlier_rows = df[np.abs(modified_z_scores) > 3.5]
    
    if not outlier_rows.empty:
        # L∆∞u nguy√™n c·ªôt ƒë·ªÉ hi·ªÉn th·ªã ƒë·∫ßy ƒë·ªß
        outliers_all[col] = outlier_rows[col]

# Gh√©p t·∫•t c·∫£ c√°c c·ªôt ngo·∫°i l·ªá l·∫°i th√†nh m·ªôt DataFrame
outliers_df = pd.DataFrame(outliers_all)

# Hi·ªÉn th·ªã
display(outliers_df.head())

      C·ªôt  S·ªë l∆∞·ª£ng ngo·∫°i l·ªá
0  d_1898               1908

     d_1898
7        12
14       10
29       19
47       11
142       8

# 5 ki·ªÉm tra gi√° tr·ªã b·∫•t th∆∞·ªùng

In [57]:
#ki·ªÉm tra gi√° tr·ªã b·∫•t th∆∞·ªùng
df.describe()

,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
count,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,...,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000
mean,1.070220,1.041292,0.780026,0.833454,0.627944,0.958052,0.918662,1.244080,1.073663,0.838701,...,1.370581,1.586159,1.693670,1.248245,1.232207,1.159167,1.149000,1.328862,1.605838,1.633158
std,5.126689,5.365468,3.667454,4.415141,3.379344,4.785947,5.059495,6.617729,5.917204,4.206199,...,3.740017,4.097191,4.359809,3.276925,3.125471,2.876026,2.950364,3.358012,4.089422,3.812248
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000
max,360.000000,436.000000,207.000000,323.000000,296.000000,314.000000,316.000000,370.000000,385.000000,353.000000,...,129.000000,160.000000,204.000000,98.000000,100.000000,88.000000,77.000000,141.000000,171.000000,130.000000

In [58]:
# s·ªë l∆∞·ª£ng gi√° tr·ªã duy nh·∫•t
df.nunique()

id          30490
item_id      3049
dept_id         7
cat_id          3
store_id       10
            ...
d_1909         53
d_1910         57
d_1911         61
d_1912         73
d_1913         65
Length: 1919, dtype: int64

1. Ki·ªÉm tra logic d·ªØ li·ªáu
S·ªë l∆∞·ª£ng b√°n ra ph·∫£i ‚â• 0.
Gi√° tr·ªã ph·∫£i l√† s·ªë nguy√™n (kh√¥ng c√≥ 2.5 s·∫£n ph·∫©m).
Kh√¥ng c√≥ gi√° tr·ªã qu√° l·ªõn b·∫•t th∆∞·ªùng (v√≠ d·ª• h√†ng tri·ªáu s·∫£n ph·∫©m trong 1 ng√†y).

In [59]:

# 1. Gi√° tr·ªã √¢m (kh√¥ng h·ª£p l√Ω trong b√°n h√†ng)
negative_values = (df.select_dtypes(include=['number']) < 0).sum()

# 2. Gi√° tr·ªã kh√¥ng nguy√™n (float thay v√¨ int)
non_integer_values = (df.select_dtypes(include=['number']) % 1 != 0).sum()

# 3. Gi√° tr·ªã qu√° l·ªõn b·∫•t th∆∞·ªùng (v√≠ d·ª• > 10,000 sp/ng√†y)
too_large_values = (df.select_dtypes(include=['number']) > 10000).sum()

# T·ªïng h·ª£p l·∫°i
anomaly_summary = pd.DataFrame({
    "Gi√° tr·ªã √¢m": negative_values,
    "Kh√¥ng nguy√™n": non_integer_values,
    "Qu√° l·ªõn >10,000": too_large_values
})

display(anomaly_summary)

        Gi√° tr·ªã √¢m  Kh√¥ng nguy√™n  Qu√° l·ªõn >10,000
d_1              0             0                0
d_2              0             0                0
d_3              0             0                0
d_4              0             0                0
d_5              0             0                0
...            ...           ...              ...
d_1909           0             0                0
d_1910           0             0                0
d_1911           0             0                0
d_1912           0             0                0
d_1913           0             0                0

[1913 rows x 3 columns]

2. Ki·ªÉm tra t√≠nh li√™n t·ª•c (time-series anomalies)
C√≥ nh·ªØng ng√†y to√†n b·ªô s·∫£n ph·∫©m = 0 ‚Üí c√≥ th·ªÉ d·ªØ li·ªáu b·ªã thi·∫øu.
C√≥ nh·ªØng ng√†y tƒÉng v·ªçt b·∫•t th∆∞·ªùng to√†n b·ªô s·∫£n ph·∫©m ‚Üí c·∫ßn xem c√≥ ph·∫£i do nh·∫≠p sai.

In [60]:
# T√≠nh t·ªïng doanh s·ªë theo ng√†y (t·∫•t c·∫£ s·∫£n ph·∫©m)
daily_sales = df.select_dtypes(include=['number']).sum(axis=0)

# Ng√†y c√≥ doanh s·ªë = 0
zero_days = daily_sales[daily_sales == 0]

# Ng√†y c√≥ doanh s·ªë cao b·∫•t th∆∞·ªùng (g·∫•p 5 l·∫ßn trung b√¨nh)
mean_sales = daily_sales.mean()
anomaly_days = daily_sales[daily_sales > 5 * mean_sales]

print("S·ªë ng√†y doanh s·ªë = 0:", len(zero_days))
print("S·ªë ng√†y doanh s·ªë cao b·∫•t th∆∞·ªùng:", len(anomaly_days))

S·ªë ng√†y doanh s·ªë = 0: 0
S·ªë ng√†y doanh s·ªë cao b·∫•t th∆∞·ªùng: 0